body {
    width: 300px;
    height: 550px;
    padding: 1rem;
}

.item_wrap {
    margin: 20px 0;
}

.title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}

.sub_title {
    font-size: 12px;
    font-weight: 400;
    word-break: keep-all;
    margin-bottom: 10px;
}

button {
    background-color: #e6f5ee;
    border-radius: 5px;
    border: 1px solid #49cc91;
    width: 200px;
    height: 35px;
    padding: 3px;
    cursor: pointer;
}

#toggle_button.off {
    background-color: #ffb7b7;
    border: 1px solid #ff2828;
}

.selected_lng {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.translate {
    width: 240px;
    margin-bottom: 10px;
}

.translate:active {
    background-color: #7af5ba;
}

.trans_target_input {
    padding: 10px 20px;
    border: 1px solid #cbcbcb;
    border-radius: 10px;
    width: 200px;
    margin-bottom: 10px;
}

.trans_result {
    border: 1px solid #cbcbcb;
    border-radius: 3px;
    width: 200px;
    height: 100px;
    padding: 20px;
    margin-bottom: 10px;
}
